<mat-nav-list>
   <a (click)="onClose()"
      mat-list-item
      routerLink="test-nav">Test-Nav</a>
   <a (click)="onClose()"
      mat-list-item
      routerLink="/home-decor">Home Decor</a>
   <a (click)="onClose()"
      mat-list-item
      routerLink="/coporate-gifts">Coporate Gifts</a>
   <a (click)="onClose()"
      mat-list-item
      routerLink="/educational">Educational</a>
   <a (click)="onClose()"
      mat-list-item
      routerLink="/jewellery">Jewellery</a>
   <a (click)="onClose()"
      mat-list-item
      routerLink="/handbags">Handbags</a>
</mat-nav-list>
