<div fxLayout="row"
     fxLayoutAlign="center center"
     class="container">

    <mat-card fxLayoutAlign="center center"
              fxFlex.xs="350px">

        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="loginform"
              (submit)="onLogin()">

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email"
                       formControlName="email"
                       matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password"
                       formControlName="password"
                       matInput>
            </mat-form-field>

            <button type="submit"
                    color="primary"
                    [disabled]="loginform.invalid"
                    mat-raised-button>Login
            </button>

            <div class="auth-options">
                <p routerLink="/signup">NEED TO REGISTER?</p>
            </div>
            <div class="forgot-pass">
                <p routerLink="/forgot-password">Forgot password?</p>
            </div>
        </form>

    </mat-card>

</div>
