.container {
    height: 100%;

    mat-card {
        height: 400px; // Can take off when logo comes for reactive

        mat-form-field {
            width: 70%;
        }

        button {
            width: 150px;
        }

        .auth-options {
            margin-top: 1rem;
            cursor: pointer;
        }
    }
}