<div fxLayout="row"
     fxLayoutAlign="center center"
     class="container">

    <mat-card fxLayoutAlign="center center"
              fxFlex.xs="350px">

        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="resetForm"
              (submit)="onSubmit()">

            <!-- <h1>PASSWORD RESET</h1> -->
            <p>Please reset your password</p>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password"
                       formControlName="password"
                       matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password Confirm</mat-label>
                <input type="password"
                       formControlName="password_confirm"
                       matInput>
            </mat-form-field>

            <button type="submit"
                    color="primary"
                    [disabled]="resetForm.invalid"
                    mat-raised-button>Login
            </button>

            <div class="auth-options">
                <p routerLink="/login">BACK TO LOGIN?</p>
            </div>
        </form>

    </mat-card>

</div>
